#####################################################
#  Alan DocBook XSL Template for Asciidoctor-fopub  #
#  https://github.com/alan-if/alan-xsl-fopub        #
#####################################################

* text=auto

*.sh    text eol=lf
*.xml   text
*.xsl   text


## Repository Configuration
###########################
.editorconfig    text eol=lf
.gitlab-ci.yml   text eol=lf
.travis.yml      text eol=lf
.gitattributes   text eol=lf
.gitconfig       text eol=lf
.gitignore       text eol=lf
.gitmodules      text eol=lf


## Documentation Files
######################
*.adoc       text
*.asciidoc   text
*.md         text
*.pdf        binary
*.txt        text
COPYING      text
LICENSE      text
*LICENSE*    text
